## Part A

In [47]:
import pandas as pd
import numpy as np

In [48]:
df= pd.read_csv('data/Advertising.csv')

In [8]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [9]:
df.drop(['Unnamed: 0'],axis=1, inplace=True)

In [10]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [11]:
#This shows that there are no missing values
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [12]:
def sale_type(x):
    if(x>=15):
        return "high"
    elif(x<15 and x>=5):
        return "medium"
    else:
        return "low"
sales_type= [sale_type(x) for x in df['Sales'].values]

In [13]:
df['sales type']= sales_type

In [14]:
df.groupby(by="sales type").sum()

                 TV   Radio  Newspaper   Sales
sales type
high        16469.8  2594.1     2720.6  1500.8
low            13.4    53.3       15.4     9.6
medium      12925.3  2005.4     3374.8  1294.1

In [15]:
df.groupby(by="sales type").mean()

                    TV      Radio  Newspaper      Sales
sales type
high        213.893506  33.689610  35.332468  19.490909
low           4.466667  17.766667   5.133333   3.200000
medium      107.710833  16.711667  28.123333  10.784167

## Part B

In [16]:
df.iloc[::6,0]=np.nan

In [17]:
df.iloc[::10,2]=np.nan

In [18]:
df.isna().sum()

TV            34
Radio          0
Newspaper     20
Sales          0
sales type     0
dtype: int64

In [19]:
df['TV'].fillna(df['TV'].mean(),inplace=True)

In [20]:
df['Newspaper'].fillna(df['Newspaper'].mean(),inplace=True)

In [21]:
df.isna().sum()

TV            0
Radio         0
Newspaper     0
Sales         0
sales type    0
dtype: int64

In [22]:
import seaborn as sns

In [23]:
from sklearn.preprocessing import minmax_scale

In [24]:
df.iloc[:,:3]=minmax_scale(df.iloc[:,:3])

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X= df[['TV','Radio','Newspaper']]
y=df['Sales']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model=LinearRegression()

model.fit(X_train,y_train)

preds= model.predict(X_test)

In [30]:
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
mean_squared_error(y_test,preds)

9.250575159224699

In [32]:
r2_score(y_test,preds)

0.6340286396878183

## Trying to improve the model

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,shuffle=True)

In [42]:
model=LinearRegression()

model.fit(X_train,y_train)

preds= model.predict(X_test)

In [43]:
mean_squared_error(y_test,preds)

4.550574299432667

In [44]:
r2_score(y_test,preds)

0.8534620675846619