## Part A

In [71]:
import pandas as pd
import numpy as np

In [72]:
df= pd.read_csv('Advertising.csv')

In [73]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [74]:
df.drop(['Unnamed: 0'],axis=1, inplace=True)

In [75]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [76]:
#This shows that there are no missing values
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [77]:
def sale_type(x):
    if(x>=15):
        return "high"
    elif(x<15 and x>=5):
        return "medium"
    else:
        return "low"
sales_type= [sale_type(x) for x in df['Sales'].values]

In [78]:
df['sales type']= sales_type

In [79]:
df.groupby(by="sales type").sum()

                 TV   Radio  Newspaper   Sales
sales type
high        16469.8  2594.1     2720.6  1500.8
low            13.4    53.3       15.4     9.6
medium      12925.3  2005.4     3374.8  1294.1

In [80]:
df.groupby(by="sales type").mean()

                    TV      Radio  Newspaper      Sales
sales type
high        213.893506  33.689610  35.332468  19.490909
low           4.466667  17.766667   5.133333   3.200000
medium      107.710833  16.711667  28.123333  10.784167

## Part B

In [81]:
df.iloc[::6,0]=np.nan

In [82]:
df.iloc[::10,2]=np.nan

In [83]:
df.isna().sum()

TV            34
Radio          0
Newspaper     20
Sales          0
sales type     0
dtype: int64

In [86]:
df['TV'].fillna(df['TV'].mean(),inplace=True)

In [88]:
df['Newspaper'].fillna(df['Newspaper'].mean(),inplace=True)

In [89]:
df.isna().sum()

TV            0
Radio         0
Newspaper     0
Sales         0
sales type    0
dtype: int64

In [90]:
import seaborn as sns

In [95]:
from sklearn.preprocessing import minmax_scale

In [97]:
df.iloc[:,:3]=minmax_scale(df.iloc[:,:3])

In [99]:
from sklearn.model_selection import train_test_split

In [115]:
X= df[['TV','Radio','Newspaper']]
y=df['Sales']

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [156]:
from sklearn.linear_model import LinearRegression

In [157]:
model=LinearRegression()

model.fit(X_train,y_train)

preds= model.predict(X_test)

In [158]:
from sklearn.metrics import mean_squared_error, r2_score

In [159]:
mean_squared_error(y_test,preds)

9.250575159224699

In [160]:
r2_score(y_test,preds)

0.6340286396878183

In [187]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,shuffle=True)

In [188]:
model=LinearRegression()

model.fit(X_train,y_train)

preds= model.predict(X_test)

In [189]:
mean_squared_error(y_test,preds)

3.608136364479493

In [190]:
r2_score(y_test,preds)

0.8728223215949189